.account {

    text-align: center;

    .login-title {
        padding-bottom: 20px;
        font-weight: bold;
        font-size: x-large;
        color: #38ab81;
    }

    .login-form {
        
        max-width: 25vw;
        display: inline-block;

        label {
            left: 0;
            padding: 10px;
            margin-bottom: 0;
        }

        input {
            width: 25vw;
        }

        button {

            margin-top: 20px;
            padding: 5px;
            width: 5vw;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: bold;
            font-size: 16px;
            border: 2px solid #eb7a23;
            color: white;
            background-color: #eb7a23;
            outline: 0;
            border-radius: 4px;

        }

    }
}