footer {
  display: flex;
  margin-top: 2em;
  justify-content: space-between;

  .disclaimer {
    padding: 1.5em 1.5em;
    color: #afafaf;
    background-color: #222222;
    width: 100%;

    .content {
      text-align: center;
      width: 80%;
      margin: 0 auto;
      line-height: 1.1em;
    }
  }
}
